*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --rubik: "Rubik", sans-serif;
    --quicksand: "Quicksand", sans-serif;
    --tableColor: rgb(255, 220, 48);
    --secondColor: #fff1cc;
    --titleColor: #ffea00;
    --shadowColor: #ccc;
    --saveColor: rgb(24, 255, 90);
    --cancelColor: rgb(255, 65, 65);
    --cadastreColor: #1fb6ff;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(237, 210, 161, 0.402);
}

header{
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-family: var(--rubik);
    background-color: var(--tableColor);
    box-shadow: 0px 1px 2px(var(--shadowColor));
}

.header-title{
    color: black;
    /* background-color:; */
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 20px var(--shadowColor);
    gap: 20px;
    background-color: white;
    }

footer{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}   